.hover,
.word,
h1 {
  cursor: pointer;
}

.concept {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  background: url(../img/back.jpg);
  background-size: 100%;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.concept .word {
  display: flex;
  align-items: center;
  max-width:500px;
  margin: auto;
}

.concept .hover div {
  position: relative;
  z-index: 5;
}

.word_container .btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, darkcyan 0%,sandybrown 100%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  z-index:2;
}

.concept h1 {
  color: #fff;
  font: 900 60px Montserrat;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  
  position: relative;
  top: 150px;
  margin: 0 auto;
  margin-top: -30px;
  font-size: 80px;
  font-weight: bold;
  z-index: 0;
}